.planesContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.plan-planes {
  /* position: absolute; */
  /* top: 50%; /* Ajusta la posición vertical según sea necesario */
  /* right: 0;
  transform: translateY(-50%); */
  max-width: 400px;
  min-width: 300px;
  margin: 0;
} 


.plan-planes img {
  display: block;
  width: 330px; /* Ajusta el ancho de las imágenes de los planes según sea necesario */
  height: 102px;
  margin-bottom: 10px; /* Espacio entre las imágenes */
}

.background-left-image img{
  /* position: absolute; */
 width: 330px;
 height: 205px;
 margin: 0;
}



