.bienvenida {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    min-height: 130vh; 
    overflow: hidden;
    padding: 16px; /* Añadir padding de 16px en todos los lados */
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total del contenedor */
  }
  
  .images {
    position: absolute;
    width: calc(100% - 128px); /* Ajusta el ancho para compensar el padding */
    height: calc(100% - 128px); /* Ajusta la altura para compensar el padding */
    top: 128px; /* Desplaza el contenedor de imágenes hacia abajo */
    left: 64px; /* Desplaza el contenedor de imágenes hacia la derecha */
  }
  
  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: block;
  }
  
  .image.visible {
    opacity: 1;
  }
  
  .image.hidden {
    opacity: 0;
  }
  
  .title {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 10;
    text-align: center;
    padding: 20px;
    border-radius: 20px; /* Bordes redondeados */
  }
 
  
  @media (max-width: 768px) {
    .title {
      font-size: 1.5em; /* Ajustar el tamaño de la fuente para pantallas más pequeñas */
      padding: 10px; /* Ajustar el padding para pantallas más pequeñas */
      top: 40%;
    }
  }
  
  @media (max-width: 480px) {
    .title {
      font-size: 1.2em; /* Ajustar el tamaño de la fuente para pantallas muy pequeñas */
      padding: 1px; /* Ajustar el padding para pantallas muy pequeñas */
    }
  
    .bienvenida {
      height: 50vh; /* Ajustar la altura para pantallas muy pequeñas */
      padding: 8px; /* Reducir el padding para pantallas muy pequeñas */
    }
  
    .images {
        /* position: absolute; */
        width: 80%;
        height: 50%;
        top: 128px;
        left: 40px;
    }
    .image {
        
        width: 100%;
        height: 50%;
        
      }
      
      
  }
  